@font-face {
    font-family: "font-color";
    src: url(fontes/Speedway.ttf) format(truetype) ;
}

:root{
--font-color:"font-color";    
}


html{
    font-size:16px;
}
body{
    background-color:white;
}
header{
    height:75px;
    background-color: black;
}
h1{
    color:white;
    font-family:var(--font-color);
}
ul{
    list-style: none;
}
li{
    color:white;
}
.lupa{
    color:white;
    font-size:1.3rem;
}
